@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto:ital,wght@0,400;0,500;0,700;1,300&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: 100%;
    background-color: #201e35;
}

.image_box{
    width: 350px;
    height: 350px;
    position: absolute;
    top: 27%;
    left: 40%;
    cursor: pointer;
    background-color: #2a4dc7;
    overflow: hidden;
    border-radius: 20px;
}

img{
    width: 240px;
    height: 240px;
    padding: 55px;
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 300px;
    background: #201e35;
    filter: drop-shadow(0 0 0.75rem #fff);
    border-radius: 20px;
    flex-direction: column;
    opacity: 0;
    color: #fff;
    transition: all .5s;
}

.content h1{
    padding: 20px;
    font: normal 600 30px Roboto;
}

.content p{
    padding: 20px;
    font: normal 400 15px Roboto;
}

.image_box:hover .content{
    opacity: 1;
}
